@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151516;
}

::-webkit-scrollbar-thumb {
  background: #A3FF21;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(163, 255, 33, 0.8);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A3FF21 #151516;
}

/* Page Loader Animation */
.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}